body {
  font-family: Arial;
  background: linear-gradient(to right, #ffecd2, #fcb69f);
}

.center {
  text-align: center;
  margin-top: 100px;
}

.card a {
  display: inline-block;
  margin: 20px;
  padding: 15px 30px;
  background: #ff6f00;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-size: 20px;
}


